# vcpkg
vcpkg

# Resharper
*.DotSettings.user

# Visual Studio 2019 cache/options directory
.vs/
out/

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
